<strong>{{ 'ExtendedPrivacy_IPAnonymizationInUse'|translate }}</strong>
<br/>
<strong>Anzahl der maskierten Stellen: </strong>{{ anonymizeIPMaskLength }} (Bsp. <i>{{ anonymizeIPExamplePreview }}</i>)
<br/>
<strong>Geolokalisierung verwendet anonymisierte IP-Adresse: </strong>
{% if anonymizeIPForAnonymousVisitEnrichment == 0 %}
    {{ 'General_No'|translate }}
{% else %}
    {{ 'General_Yes'|translate }}
{% endif %}
<div>
    <br/>
    {{ 'ExtendedPrivacy_IPSettingsHint'|translate('<a href="index.php?module=PrivacyManager&action=privacySettings##anonymizeIPAnchor" target="_blank">','</a>')|raw }}
</div>