{% extends 'admin.twig' %}

{% set title %}{{ 'ExtendedPrivacy_TeaserHeadline'|translate }}{% endset %}

{% block content %}
{% if isSuperUser %}
<div piwik-content-intro>
    <h2 piwik-enriched-headline>{{ title }}</h2>
    <br/>
    <p>{{ 'ExtendedPrivacy_Teaser'|translate('<a href="#transparencyAnchor">',"</a>",'<a href="#anonymizationAnchor">',"</a>",'<a href="#dataAlterDeletionAnchor">',"</a>")|raw }}</p>
</div>
<div piwik-content-block
     id="transparencyAnchor"
     content-title="{{ 'ExtendedPrivacy_Transparency'|translate|e('html_attr') }}">
     {% if transparencyType == false %}
        <p>
            <strong>{{ 'ExtendedPrivacy_NoIframeFound'|translate }}</strong>
        </p>
     {% else %}
        <p>
            {% if transparencyType == 'default' %}
                <strong>{{ 'ExtendedPrivacy_CurrentTransparencyMode'|translate }}</strong>:
                {{ 'ExtendedPrivacy_DefaultPiwikTransparency'|translate }}
            {% endif %}
            <br/>
            <strong>{{ 'ExtendedPrivacy_CurrentTransparencyExplanation'|translate }}</strong>
            <br/>
            {{ transparencyIframeContent }}
        </p>
     {% endif %}
</div>
<div piwik-content-block
     id="anonymizationAnchor"
     content-title="{{ 'ExtendedPrivacy_Anonymization'|translate|e('html_attr') }}">
     {% if anonymizeIPInUse %}
        <strong>{{ 'ExtendedPrivacy_IPAnonymizationInUse'|translate }}</strong>
        <br/>
        <strong>Anzahl der maskierten Stellen: </strong>{{ anonymizeIPMaskLength }} (Bsp. <i>{{ anonymizeIPExamplePreview }}</i>)
        <br/>
        <strong>Geolokalisierung verwendet anonymisierte IP-Adresse: </strong>
        {% if anonymizeIPForAnonymousVisitEnrichment == 0 %}
            {{ 'General_No'|translate }}
        {% else %}
            {{ 'General_Yes'|translate }}
        {% endif %}
     {% endif %}
</div>
<div piwik-content-block
     id="dataAlterDeletionAnchor"
     content-title="{{ 'ExtendedPrivacy_DataAlterDelete'|translate|e('html_attr') }}">
     <div piwik-form ng-controller="AlterDeleteController as AlterDeleteCtrl">
        <div piwik-field uicontrol="text" name="piwikAlterDeleteVisitorID"
             ng-model="AlterDeleteCtrl.id"
             title="{{ 'ExtendedPrivacy_SearchForVisitorID'|translate }}"
             value=""
             piwik-onenter="AlterDeleteCtrl.getVisitorLogsByID()"
             inline-help="{{ 'ExtendedPrivacy_SearchForVisitorIDInlineHelp'|translate }}">
        </div>
        <div piwik-save-button onconfirm=""></div>
     </div>
</div>
{% endif %}
{% endblock %}