{% extends 'admin.twig' %}

{% set title %}{{ 'ExtendedPrivacy_TeaserHeadline'|translate }}{% endset %}

{% block content %}
{% if isSuperUser %}
<div piwik-content-intro>
    <h2 piwik-enriched-headline>{{ title }}</h2>
    <br/>
    <p>{{ 'ExtendedPrivacy_Teaser'|translate('<a href="#transparencyAnchor">',"</a>",'<a href="#anonymizationAnchor">',"</a>",'<a href="#dataAlterDeletionAnchor">',"</a>")|raw }}</p>
</div>
<div piwik-content-block
     id="transparencyAnchor"
     content-title="{{ 'ExtendedPrivacy_Transparency'|translate|e('html_attr') }}">
     <div id="extended-privacy-notifications-transparency"></div>
     {% if transparencyType == false %}
        <p>
            <strong>{{ 'ExtendedPrivacy_NoIframeFound'|translate }}</strong>
        </p>
     {% else %}
        <p>
            {% if transparencyType == 'default' %}
                <strong>{{ 'ExtendedPrivacy_CurrentTransparencyMode'|translate }}</strong>
                {{ 'ExtendedPrivacy_DefaultPiwikTransparency'|translate }}
            {% endif %}
            <div>
            <strong>{{ 'ExtendedPrivacy_CurrentTransparencyExplanation'|translate }}</strong>
            <br/>
            <i>{{ transparencyIframeContent|raw }}</i>
            </div>
        </p>
        {% if transparencyType == 'default' %}
            <div ng-controller="TransparencyController as TransparencyCtrl">
                <strong>{{ 'ExtendedPrivacy_ChangeCurrentTransparencyExplanation'|translate }}</strong>
                <br/><br/>
                <div class="row">
                    <textarea
                        maxlength="500"
                        ng-model="TransparencyCtrl.YouMayOptOut"
                        class="col s6 textarea">
                    </textarea>
                    <button class="col s3" piwik-save-button onconfirm="TransparencyCtrl.save('YouMayOptOut')"></button>
                    <div class="col s6 margin-y-10">
                        {% verbatim %}
                        {{ 500 - TransparencyCtrl.YouMayOptOut.length }}
                        {% endverbatim %}
                        {{ 'ExtendedPrivacy_CharacterCount'|translate }}
                    </div>
                </div>
                <div class="row">
                    <textarea
                        maxlength="500"
                        ng-model="TransparencyCtrl.YouMayOptOutBis"
                        class="col s6 textarea">
                    </textarea>
                    <button class="col s3" piwik-save-button onconfirm="TransparencyCtrl.save('YouMayOptOutBis')"></button>
                    <div class="col s6 margin-y-10">
                        {% verbatim %}
                        {{ 500 - TransparencyCtrl.YouMayOptOutBis.length }}
                        {% endverbatim %}
                        {{ 'ExtendedPrivacy_CharacterCount'|translate }}
                    </div>
                </div>
                <div class="row">
                    <textarea
                        maxlength="500"
                        ng-model="TransparencyCtrl.YouAreOptedIn"
                        class="col s6 textarea">
                    </textarea>
                    <button class="col s3 margin-y-10" piwik-save-button onconfirm="TransparencyCtrl.save('YouAreOptedIn')"></button>
                    <div class="col s6">
                        {% verbatim %}
                        {{ 500 - TransparencyCtrl.YouAreOptedIn.length }}
                        {% endverbatim %}
                        {{ 'ExtendedPrivacy_CharacterCount'|translate }}
                    </div>
                </div>
                <div class="row">
                    <textarea
                        maxlength="500"
                        ng-model="TransparencyCtrl.ClickHereToOptOut"
                        class="col s6 textarea">
                    </textarea>
                    <button class="col s3" piwik-save-button onconfirm="TransparencyCtrl.save('ClickHereToOptOut')"></button>
                    <div class="col s6 margin-y-10">
                        {% verbatim %}
                        {{ 500 - TransparencyCtrl.ClickHereToOptOut.length }}
                        {% endverbatim %}
                        {{ 'ExtendedPrivacy_CharacterCount'|translate }}
                    </div>
                </div>
            </div>
        {% endif %}
     {% endif %}
</div>
<div piwik-content-block
     id="anonymizationAnchor"
     content-title="{{ 'ExtendedPrivacy_Anonymization'|translate|e('html_attr') }}">
     {% if anonymizeIPInUse %}
        <strong>{{ 'ExtendedPrivacy_IPAnonymizationInUse'|translate }}</strong>
        <br/>
        <strong>Anzahl der maskierten Stellen: </strong>{{ anonymizeIPMaskLength }} (Bsp. <i>{{ anonymizeIPExamplePreview }}</i>)
        <br/>
        <strong>Geolokalisierung verwendet anonymisierte IP-Adresse: </strong>
        {% if anonymizeIPForAnonymousVisitEnrichment == 0 %}
            {{ 'General_No'|translate }}
        {% else %}
            {{ 'General_Yes'|translate }}
        {% endif %}
     {% endif %}
</div>
<div piwik-content-block
     id="dataAlterDeletionAnchor"
     content-title="{{ 'ExtendedPrivacy_DataDelete'|translate|e('html_attr') }}">
    <div id="extended-privacy-notifications"></div>
    <div piwik-form ng-controller="AlterDeleteController as AlterDeleteCtrl">
        <div piwik-notification
            notificationId="extended-privacy-no-entries-found"
            notification-title="{{ 'ExtendedPrivacy_Warning'|translate }}"
            ng-show="AlterDeleteCtrl.performedRequest && !AlterDeleteCtrl.showDetails"
            type="persistent"
            noclear="true"
            context="warning">
                {{ 'ExtendedPrivacy_NoEntriesFound'|translate }}
        </div>
        <div piwik-notification
            notificationId="extended-privacy-deletion-success"
            notification-title="{{ 'ExtendedPrivacy_GenericSuccess'|translate }}"
            ng-show="AlterDeleteCtrl.deletionSuccess"
            type="persistent"
            noclear="true"
            context="success">
                {{ 'ExtendedPrivacy_EntriesSuccessfullyDeleted'|translate }}
        </div>
        <div piwik-field uicontrol="text" name="piwikAlterDeleteVisitorID"
            ng-model="AlterDeleteCtrl.id"
            title="{{ 'ExtendedPrivacy_SearchForVisitorID'|translate }}"
            value=""
            piwik-onenter="AlterDeleteCtrl.getData()"
            inline-help="{{ 'ExtendedPrivacy_SearchForVisitorIDInlineHelp'|translate }}">
        </div>
        <div ng-show="AlterDeleteCtrl.showDetails">
            <div>
                {{ 'ExtendedPrivacy_FoundEntries'|translate }}
            </div>
            <table class="simple-table">
                <tr>
                    <th>{{ 'ExtendedPrivacy_Table'|translate }}</th>
                    <th>{{ 'ExtendedPrivacy_EntriesCount'|translate }}</th>
                </tr>
                {% verbatim %}
                <tr ng-repeat="entry in AlterDeleteCtrl.entries">
                    <td>{{ entry.tableName }}</td>
                    <td>{{ entry.quantity }}</td>
                </tr>
                {% endverbatim %}
            </table>
            <br/>
        </div>
        <button
            class="btn"
            ng-click="AlterDeleteCtrl.deleteAllEntries()"
            ng-disabled="(AlterDeleteCtrl.performedRequest && !AlterDeleteCtrl.showDetails) || !AlterDeleteCtrl.performedRequest"
        >
            {{ 'ExtendedPrivacy_DeleteAll'|translate }}
        </button>
        <span><i>{{ 'ExtendedPrivacy_NotRevertable'|translate }}</i></span>
        <div id="confirmDeleteAllData" class="ui-confirm">
            <h2 id="extendedPrivacyDeleteAllDataConfgirm">{{ 'ExtendedPrivacy_DeletionConfirm'|translate }}</h2>
            <input role="yes" type="button" value="{{ 'General_Yes'|translate }}"/>
            <input role="no" type="button" value="{{ 'General_No'|translate }}"/>
        </div>
     </div>
</div>
{% endif %}
{% endblock %}